nav {
    background-color: #0637a5;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 15px;
    transition: background 0.3s ease;
    white-space: nowrap;
}

.nav-links li a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 100px;
    width: auto;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

.hamburger-menu-links {
    display: none;
    flex-direction: column;
    background-color: #003366;
    position: absolute;
    top: calc(100%);
    left: 10px;
    width: 200px;
    padding: 10px 0;
    z-index: 1000;
    list-style: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 5px;
}

.hamburger-menu-links.active {
    display: flex;
}

.hamburger-menu-links li {
    text-align: left;
    padding: 10px 15px;
}

.hamburger-menu-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: background 0.3s ease;
}

.hamburger-menu-links li a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
        margin-left: 10px;
    }

    .nav-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #0637a5;
        position: absolute;
        top: 50px;
        left: 0;
        width: 75%;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .logo {
        order: 2;
        align-self: flex-end;
        margin-left: auto;
    }

    .logo img {
        height: 80px;
    }
}

@media (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }

    .hamburger-menu-links {
        display: none !important;
    }
}